@model TweetnHash.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Join TweetnHash Today";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Let's Get Started. It's free.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control",@placeholder="First name"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email or phone number" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <span class="help-block">
                By clicking Sing up, you agree to the TweetnHash User Agreement, Privacy Policy, and Cookie Policy.
                You can connect with others social media accounts and others will be able to find you by email or phone number when provided.
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-block btn-primary" value="Sign up" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
